:root {
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --accent-bgr-color: #e5e5e5;
  --primery-white-color: #ffffff;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about, .hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--secondary-text-color);
  background-color: var(--primery-white-color);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  min-width: 200px;
  height: 50px;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function);
}
.btn:hover, .btn:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn--main {
  padding: 10px 32px;
}

.port-btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border: none;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.port-btn:hover, .port-btn:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.port-btn.active {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}
.port-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .port-btn__list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .port-btn__list {
    margin-bottom: 50px;
  }
}
.port-btn--item {
  margin-top: 15px;
}
.port-btn--item:not(:last-child) {
  margin-right: 8px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__text {
  color: var(--accent-color);
}
.logo--header {
  color: #000;
}
.logo--footer {
  color: var(--primery-white-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  margin-top: 20px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link--team {
  fill: #afb1b8;
}
.social__link--footer {
  fill: var(--primery-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icon {
  color: currentColor;
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--primery-white-color);
}

.text-title {
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .text-title {
    font-size: 36px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.overlay--about {
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.overlay--port {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.overlay--title {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primery-white-color);
  bottom: 0;
  left: 0;
  margin: 0;
  width: 402px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .overlay--title {
    width: 306px;
    height: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay--title {
    width: 322px;
  }
}

.portfolio__link:hover .overlay--port {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link:hover .overlay--title {
  opacity: 1;
  cursor: pointer;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}

@media screen and (min-width: 480px) {
  .footer-form {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: blok;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.footer-form__input {
  width: 450px;
  height: 50px;
  background-color: inherit;
  color: var(--primery-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    padding-left: 30px;
    width: 358px;
  }
}

.btn--footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .btn--footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn--footer {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .btn--footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: 12px;
    padding: 10px 29px;
  }
}

.icon-send {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  fill: currentColor;
}

.footer-form__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    text-align: start;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opasity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opasity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
  opacity: 0;
}

.modal-button.submit {
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button {
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  fill: #000000;
  background-color: rgb(255, 255, 255);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close-button:focus,
.close-button:hover {
  fill: var(--accent-color);
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  cursor: pointer;
}

.modal-form-input:focus,
.modal-form-item textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
  }
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primery-white-color);
  min-width: 450px;
  min-height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: opasity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opasity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opasity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opasity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-form {
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-title {
  width: 370px;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
    width: 448px;
  }
}

.modal-form-list {
  margin-bottom: 20px;
}

.modal-form-item {
  position: relative;
}

.modal-form-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-form-item textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-item textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-item textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-item textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-item textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  background-image: url("../images/icons/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  background-repeat: no-repeat;
  cursor: pointer;
}

.policy-link {
  display: inline;
  color: var(--accent-color);
  margin-left: 3px;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus,
.accent,
.current {
  color: var(--accent-color);
  outline: hidden;
}

.mobile-menu-burger {
  -webkit-transition: 500ms;
  transition: 500ms;
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 40px 40px;
  background-color: #fff;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-nav__item .current {
  color: #2196f3;
}

.mobile-menu-nav__link {
  color: #212121;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-contacts__item {
  color: #757575;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-contacts__item .accent {
  font-size: 34px;
  color: #2196f3;
}

.mobile-menu-contacts__link {
  color: #757575;
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-socials__item:not(:last-child) .mobile-menu-socials__link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.21);
}

.mobile-menu-socials__link {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 118px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/Header_S.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/Header_S.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/Header@2x_S.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/Header@2x_S.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/Header_M.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/Header_M.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/Header@2x_M.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/Header@2x_M.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/main/Header_L.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/main/Header_L.jpg");
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/Header@2x_L.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/Header@2x_L.jpg");
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  width: 360px;
  text-align: center;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.header {
  outline: 1px solid #eeeeee;
  background-color: #ffffff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms var(--timing-function);
    transition: color 250ms var(--timing-function);
  }
}
.header__link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus,
.header .accent,
.header .current {
  color: var(--accent-color);
  outline: hidden;
}

.header__logo {
  margin-right: 88px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav--item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms var(--timing-function);
    transition: color 250ms var(--timing-function);
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: aling-items;
        -ms-flex: aling-items;
            flex: aling-items;
    color: var(--main-text-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact--item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact--item:not(:last-child) {
    margin-right: 50px;
  }
}
.header-contact__link:hover, .header-contact__link:focus,
.header-contact .accent,
.header-contact .current {
  color: var(--accent-color);
  outline: hidden;
}

.mail-icon,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --items:1;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    --items:2;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    --items:4;
  }
}
.benefits__point {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.benefits__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  width: 450px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .benefits__box {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__box {
    width: 270px;
    height: 120px;
  }
}
.benefits__text {
  line-height: 1.71;
  color: var(--main-text-color);
  width: 450px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .benefits__text {
    width: 354px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__text {
    width: 270px;
    height: 75px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about {
  padding-top: 0;
}
.about__item {
  overflow: hidden;
}
.about__thumb {
  position: relative;
}
.about__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primery-white-color);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 27px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
.team--section {
  background-color: #f5f4fa;
}
.team__list {
  --items: 1;
  --indent:30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    --items:2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --items:4;
  }
}
.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  height: 622px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    height: 428px;
  }
}
.team__name {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.team__job {
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
  text-align: center;
}
.team__thumb {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .team__thumb {
    padding: 30px 0;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  --items:2;
}
@media screen and (min-width: 768px) {
  .clients__list {
    --items:3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --items:6;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}
.clients__icon {
  fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__list {
  --items: 1;
  --indent:30px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    --items:2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    --items:3;
  }
}
.portfolio__item {
  background-color: var(--primery-white-color);
  border: 1px solid #eeeeee;
  width: 450px;
  height: 404px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
    height: 404px;
  }
}
.portfolio__img--thumb {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .portfolio__img--thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__img--thumb {
    width: 370px;
  }
}
.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 120ms var(--timing-function);
  transition: -webkit-box-shadow 120ms var(--timing-function);
  transition: box-shadow 120ms var(--timing-function);
  transition: box-shadow 120ms var(--timing-function), -webkit-box-shadow 120ms var(--timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-color);
}
.portfolio__cards {
  padding: 20px 10px 20px 24px;
  width: 450px;
  height: 110px;
}
@media screen and (min-width: 768px) {
  .portfolio__cards {
    width: 354px;
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__cards {
    width: 370px;
    height: 110px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__container {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__box {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-address--adr {
  color: var(--primery-white-color);
}

.footer-address__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}
.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
}

.footer-social--thumb {
  color: var(--primery-white-color);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-social--thumb {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-social--thumb {
    margin-left: 135px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social--thumb {
    margin: 72px;
    margin-left: 70px;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item {
  margin-top: 20px;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */