.modal-form-input {
   display: block;
   height: 40px;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 35px;
 
   cursor: pointer;
 }
 .modal-form-input:focus,
 .modal-form-item textarea:focus {
   outline: none;
   border: 1px solid var(--accent-color);
 }
 .modal-form-input:focus + .modal-icon {
   fill: var(--accent-color);
 }