.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.17;

   @media screen and (min-width: 1200px){
      font-size: 26px;
      line-height: 1.19;
     }

   &__text{
      color: var(--accent-color);
    }
   
   &--header{
      color: #000;
    }
   &--footer {

      color: var(--primery-white-color);
      display: inline-flex;
      margin-bottom: 20px;
    }
   
}
