
.hero {
   @extend %section;
   background-color: #2f303a;
   text-align: center;
   padding: 118px 0;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #2f303a;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/Header_S.jpg');

     @media (min-device-pixel-ratio:2),
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/Header@2x_S.jpg');
     }
   

    @media screen and (min-width: 768px){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url('../images/main/Header_M.jpg');

     @media (min-device-pixel-ratio:2),
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/Header@2x_M.jpg');
     }
    
   }
   @media screen and (min-width: 1200px){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/main/Header_L.jpg');

      @media (min-device-pixel-ratio:2),
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/Header@2x_L.jpg');
     }

    padding: 200px 0;
   }

   &__title {
      font-weight: 900;
      font-size: 26px;
      width: 360px;
      text-align: center;
      line-height: 1.61;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--primery-white-color);
      // margin-top: 58px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;

      
       @media screen and (min-width: 1200px)and (max-width: 1600px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
        
       }
    }
}
 